@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.white-mode {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.animation {
  background-image: url('https://c4.wallpaperflare.com/wallpaper/624/991/795/anime-sky-portrait-display-hd-wallpaper-preview.jpg');
  animation-timeline: view(block 85% 10%);
  animation: showForScale both 1000ms linear;
}

@keyframes showForScale {
  from { transform: scale(0) }
  to { transform: scale(1) }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
